# Login PMA
LOGIN={{LOGIN_PMA}}

# Passoword PMA
PASSWORD={{PASSWORD_PMA}}

# Projeto Padrão
PROJECT_DEFAULT={{COD_PROJECT_DEFAULT}}

# Atividade Padrão
ACTIVITY_DEFAULT={{COD_ACTIVITY_DEFAULT}}

# Descrição Padrão
DESCRIPTION_DEFAULT='{{DESCRIPTION_DEFAULT}}'