# Login PMA
LOGIN={{LOGIN_PMA}}

# Passoword PMA
PASSWORD={{PASSWORD_PMA}}

# Projeto Padrão
PROJECT_DEFAULT={{COD_PROJECT_DEFAULT}}
PROJECT_DEFAULT_DESC='{{PROJECT_DEFAULT_DESC}}'

# Atividade Padrão
ACTIVITY_DEFAULT={{COD_ACTIVITY_DEFAULT}}
ACTIVITY_DEFAULT_DESC='{{ACTIVITY_DEFAULT_DESC}}'

# Descrição Padrão
DESCRIPTION_DEFAULT='{{DESCRIPTION_DEFAULT}}'